h1{
    font-size: 3rem;
    color: burlywood;
    margin: 0;
    text-align: center;
}
h3{
    color: burlywood;
    margin: 0;
}
a{
    text-decoration: none;
    color: blueviolet;
    margin-left:1190px;
}
img{
    border-radius: 10px;
    margin-left: 400px;
}
body{
    margin: 15px;
    background-color: azure;
}
ul li{
    color:brown;
}